#mainimage{
    height: 400px;
}

/* Added min page height so you can see that the footer is sticky */

body{
    background-image: url("bgcimage.png");
    min-height: 110vh;
}


.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    
}


.caption {
    position: relative;
    bottom: 25%;
    width: 100%;
}

